matplotlib==3.3.4
numpy==1.20.1
open3d==0.12.0
plyfile==0.7.3
pytorch-lightning==1.1.8
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
torch==1.7.1
torchvision==0.8.2
tqdm==4.56.2
h5py==3.6.0
ninja==1.10.2.3
#MinkowskiEngine==0.5.4